USE [master]
GO
/****** Object:  Database [NHT]    Script Date: 1/4/2025 10:37:17 AM ******/
CREATE DATABASE [NHT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NHT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NHT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHT]
GO
/****** Object:  Table [dbo].[NHT_CT_HOA_DON]    Script Date: 1/4/2025 10:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHT_CT_HOA_DON](
	[nht_id] [int] IDENTITY(1,1) NOT NULL,
	[nht_HoaDonID] [int] NOT NULL,
	[nht_SanPhamID] [int] NOT NULL,
	[nht_SoLuongMua] [int] NOT NULL,
	[nht_DonGiaMua] [float] NOT NULL,
	[nht_ThanhTien] [float] NOT NULL,
	[nht_TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nht_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHT_HOA_DON]    Script Date: 1/4/2025 10:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHT_HOA_DON](
	[nht_id] [int] IDENTITY(1,1) NOT NULL,
	[nht_ma_hoa_don] [varchar](50) NOT NULL,
	[nht_ma_khach_hang] [int] NOT NULL,
	[nht_ngay_nhan] [date] NOT NULL,
	[nht_tong_tri_gia] [decimal](15, 2) NOT NULL,
	[nht_trang_thai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nht_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nht_ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHT_KHACH_HANG]    Script Date: 1/4/2025 10:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHT_KHACH_HANG](
	[nht_id] [int] IDENTITY(1,1) NOT NULL,
	[nht_ma_khach_hang] [varchar](50) NOT NULL,
	[nht_ho_ten] [varchar](100) NOT NULL,
	[nht_email] [varchar](100) NULL,
	[nht_mat_khau] [varchar](255) NOT NULL,
	[nht_dien_thoai] [varchar](15) NULL,
	[nht_dia_chi] [varchar](255) NULL,
	[nht_ngay_dang_ky] [date] NOT NULL,
	[nht_trang_thai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nht_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nht_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nht_ma_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHT_LOAI_SAN_PHAM]    Script Date: 1/4/2025 10:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHT_LOAI_SAN_PHAM](
	[nht_id] [int] IDENTITY(1,1) NOT NULL,
	[nht_ma_loai] [varchar](50) NOT NULL,
	[nht_ten_loai] [varchar](100) NOT NULL,
	[nht_trang_thai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nht_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nht_ma_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHT_QUAN_TRI]    Script Date: 1/4/2025 10:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHT_QUAN_TRI](
	[nht_id] [int] IDENTITY(1,1) NOT NULL,
	[nht_tai_khoan] [varchar](50) NOT NULL,
	[nht_mat_khau] [varchar](255) NOT NULL,
	[nht_trang_thai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nht_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHT_SAN_PHAM]    Script Date: 1/4/2025 10:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHT_SAN_PHAM](
	[nht_id] [int] IDENTITY(1,1) NOT NULL,
	[nht_MaSanPham] [nvarchar](50) NOT NULL,
	[nht_TenSanPham] [nvarchar](255) NOT NULL,
	[nht_HinhAnh] [nvarchar](255) NULL,
	[nht_SoLuong] [int] NOT NULL,
	[nht_DonGia] [float] NOT NULL,
	[nht_MaLoai] [int] NOT NULL,
	[nht_TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nht_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHT_TIN_TUC]    Script Date: 1/4/2025 10:37:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHT_TIN_TUC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nht_ma_tt] [varchar](50) NOT NULL,
	[nht_tieu_de] [varchar](200) NOT NULL,
	[nht_mo_ta] [text] NULL,
	[nht_noi_dung] [text] NULL,
	[nht_ngay_dang_tin] [date] NOT NULL,
	[nht_ngay_cap_nhat] [date] NULL,
	[nht_hinh_anh] [varchar](255) NULL,
	[nht_trang_thai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nht_ma_tt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NHT_KHACH_HANG] ADD  DEFAULT (getdate()) FOR [nht_ngay_dang_ky]
GO
ALTER TABLE [dbo].[NHT_TIN_TUC] ADD  DEFAULT (getdate()) FOR [nht_ngay_dang_tin]
GO
ALTER TABLE [dbo].[NHT_CT_HOA_DON]  WITH CHECK ADD FOREIGN KEY([nht_HoaDonID])
REFERENCES [dbo].[NHT_HOA_DON] ([nht_id])
GO
ALTER TABLE [dbo].[NHT_CT_HOA_DON]  WITH CHECK ADD FOREIGN KEY([nht_SanPhamID])
REFERENCES [dbo].[NHT_SAN_PHAM] ([nht_id])
GO
ALTER TABLE [dbo].[NHT_HOA_DON]  WITH CHECK ADD FOREIGN KEY([nht_ma_khach_hang])
REFERENCES [dbo].[NHT_KHACH_HANG] ([nht_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHT_SAN_PHAM]  WITH CHECK ADD FOREIGN KEY([nht_MaLoai])
REFERENCES [dbo].[NHT_LOAI_SAN_PHAM] ([nht_id])
GO
USE [master]
GO
